# created based on https://github.com/danderson/ulxs/blob/main/lpf.md
# and output files

# PART TYPE:        LFE5U-45F
# Performance Grade:      6
# PACKAGE:          CABGA381

#SYSCONFIG SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE BACKGROUND_RECONFIG=OFF DONE_EX=OFF DONE_OD=ON DONE_PULL=ON MCCLK_FREQ=2.4 TRANSFR=OFF CONFIG_IOVOLTAGE=2.5 CONFIG_SECURE=OFF WAKE_UP=21 COMPRESS_CONFIG=OFF CONFIG_MODE=JTAG ;

LOCATE  COMP  "AGC_A"  SITE  "E8"; # out

LOCATE  COMP  "clk"  SITE  "U16"; # CLK 24Mhz TCXO
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33; # ? 33?
FREQUENCY PORT "clk" 24 MHZ;

LOCATE  COMP  "a2dq10"  SITE  "C17"; # in
LOCATE  COMP  "a2dq11"  SITE  "A18";
LOCATE  COMP  "a2dq12"  SITE  "A19";
LOCATE  COMP  "a2dq13"  SITE  "B19";
LOCATE  COMP  "a2dq2"  SITE  "B12";
LOCATE  COMP  "a2dq3"  SITE  "D15";
LOCATE  COMP  "a2dq4"  SITE  "C15";
LOCATE  COMP  "a2dq5"  SITE  "B15";
LOCATE  COMP  "a2dq6"  SITE  "E15";
LOCATE  COMP  "a2dq7"  SITE  "C16";
LOCATE  COMP  "a2dq8"  SITE  "D16";
LOCATE  COMP  "a2dq9"  SITE  "B17";

LOCATE  COMP  "audio_l"  SITE  "H20"; # out
LOCATE  COMP  "audio_r"  SITE  "K18"; # out

# 24 pin header on HAT
# pins 1,2 are 5V
LOCATE  COMP  "exp_pin_3"  SITE  "E12";
LOCATE  COMP  "exp_pin_4"  SITE  "H18";
LOCATE  COMP  "exp_pin_5"  SITE  "A12";
LOCATE  COMP  "exp_pin_6"  SITE  "H17";
LOCATE  COMP  "exp_pin_7"  SITE  "A13";
LOCATE  COMP  "exp_pin_8"  SITE  "J17";
LOCATE  COMP  "exp_pin_9"  SITE  "B13";
LOCATE  COMP  "exp_pin_10"  SITE  "J16";
LOCATE  COMP  "exp_pin_11"  SITE  "C13";
LOCATE  COMP  "exp_pin_12"  SITE  "E19";
LOCATE  COMP  "exp_pin_13"  SITE  "D13";
LOCATE  COMP  "exp_pin_14"  SITE  "E20";
LOCATE  COMP  "exp_pin_15"  SITE  "E13";
LOCATE  COMP  "exp_pin_16"  SITE  "F19";
LOCATE  COMP  "exp_pin_17"  SITE  "A14";
LOCATE  COMP  "exp_pin_18"  SITE  "F20";
LOCATE  COMP  "exp_pin_19"  SITE  "C14";
# pin 20 GND
LOCATE  COMP  "exp_pin_21"  SITE  "D14";
# pin 22 marked reset, buffered by NC7WZ14 into E14
LOCATE  COMP  "res_in"  SITE  "E14"; # in
# pins 23,24 are GND


# order like on PCB, D7, D5, D6, D8
LOCATE  COMP  "green_led_d7"  SITE  "G16";
LOCATE  COMP  "red_led_d5"    SITE  "E18";
LOCATE  COMP  "yellow_led_d6" SITE  "F18";
LOCATE  COMP  "orange_led_d8" SITE  "H16";

IOBUF PORT "green_led_d7"  IO_TYPE=LVCMOS33;
IOBUF PORT "orange_led_d8" IO_TYPE=LVCMOS33;
IOBUF PORT "red_led_d5"    IO_TYPE=LVCMOS33;
IOBUF PORT "yellow_led_d6" IO_TYPE=LVCMOS33;


LOCATE  COMP  "mhz_16"  SITE  "L20"; # out
LOCATE  COMP  "mhz_96"  SITE  "L17"; # out


# reaspberry pi header
# pin 1: 3v3 n/c
# pin 2: 5v
LOCATE  COMP  "rtc_sda"     SITE  "A3"; # pin 3: gpio2 SDA
# pin 4: 5v
LOCATE  COMP  "rtc_scl"     SITE  "B3"; # pin 5: gpio3 SCL
# pin 6: GND
LOCATE  COMP  "rtc_mfp"     SITE  "E2"; # pin 7: gpio4
LOCATE  COMP  "uart_rx"     SITE  "G3"; # pin 8: gpio14 TXD
# pin 9: GND
LOCATE  COMP  "uart_tx"     SITE  "H3"; # pin 10: gpio15 RXD
LOCATE  COMP  "rpi_pin_11"  SITE  "D5"; # pin 11: gpio17
LOCATE  COMP  "rpi_pin_12"  SITE  "G5"; # pin 12: gpio18
# pin 13: gpio27 - TMS U5
# pin 14: GND
# pin 15: gpio22 - TDI R5
# pin 16: gpio23 - TCK T5
# pin 17: 3v3 n/c
# pin 18: gpio24 - TDO V4
LOCATE  COMP  "spi_mosi"    SITE  "C3"; # pin 19: gpio10 MOSI
# pin 20: GND
LOCATE  COMP  "spi_miso"    SITE  "D3"; # pin 21: gpio9 MISO
LOCATE  COMP  "rpi_pin_22"  SITE  "E4"; # pin 22: gpio25
LOCATE  COMP  "spi_sclk"    SITE  "F4"; # pin 23: gpio11 CLK
LOCATE  COMP  "spi_cs0"     SITE  "E1"; # pin 24: gpio8 CS0
# pin 25: GND
LOCATE  COMP  "spi_cs1"     SITE  "D2"; # pin 26: gpio7 CS1
# pin 27: gpio0 - sda HAT eeprom
# pin 28: gpio1 - scl HAT eeprom
LOCATE  COMP  "rpi_pin_29"  SITE  "E3"; # pin 29: gpio5
# pin 30: GND
LOCATE  COMP  "rpi_pin_31"  SITE  "E5"; # pin 31: gpio6
LOCATE  COMP  "rpi_pin_32"  SITE  "D1"; # pin 32: gpio12
LOCATE  COMP  "rpi_pin_33"  SITE  "F5"; # pin 33: gpio13
# pin 34: GND
LOCATE  COMP  "rpi_pin_35"  SITE  "A2"; # pin 35: gpio19
LOCATE  COMP  "rpi_pin_36"  SITE  "C1"; # pin 36: gpio16
LOCATE  COMP  "rpi_pin_37"  SITE  "B1"; # pin 37: gpio26
LOCATE  COMP  "rpi_pin_38"  SITE  "C2"; # pin 38: gpio20
# pin 39: GND
LOCATE  COMP  "rpi_pin_40"  SITE  "B2"; # pin 40: gpio21

IOBUF PORT "rtc_sda"     IO_TYPE=LVCMOS33;
IOBUF PORT "rtc_scl"     IO_TYPE=LVCMOS33;
IOBUF PORT "rtc_mfp"     IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx"     IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx"     IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_11"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_12"  IO_TYPE=LVCMOS33;
IOBUF PORT "spi_mosi"    IO_TYPE=LVCMOS33;
IOBUF PORT "spi_miso"    IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_22"  IO_TYPE=LVCMOS33;
IOBUF PORT "spi_sclk"    IO_TYPE=LVCMOS33;
IOBUF PORT "spi_cs0"     IO_TYPE=LVCMOS33;
IOBUF PORT "spi_cs1"     IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_29"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_31"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_32"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_33"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_35"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_36"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_37"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_38"  IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_pin_40"  IO_TYPE=LVCMOS33;


LOCATE  COMP  "tuner_hf"  SITE  "D8";
LOCATE  COMP  "tuner_scl"  SITE  "C6";
LOCATE  COMP  "tuner_sda"  SITE  "C7";

IOBUF PORT "tuner_hf"   IO_TYPE=LVCMOS33;
IOBUF PORT "tuner_scl"  IO_TYPE=LVCMOS33;
IOBUF PORT "tuner_sda"  IO_TYPE=LVCMOS33;

LOCATE  COMP  "unused"  SITE  "B11";

#PLL
#LOCATE  COMP  "I518/pll_24_to_96_inst/PLLInst_0"  SITE  "PLL_BR0" ;

#FREQUENCY NET "N_355" 16.000000 MHz ;
#FREQUENCY NET "clkfast" 96.000000 MHz ;
#FREQUENCY NET "clk24" 24.000000 MHz ;
#FREQUENCY NET "N_810" 24.000000 MHz ;

